
#backgroundVideo {
  position: fixed;
  z-index:-1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#result {
    color: green;
    font-size: 60px;
    text-align: center;
    top: 40%;
    z-index:200;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.menuButton {
  width: 140px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.menuButton:hover {
  background: #ddd;
  color: black;
}

.menuList {
    z-index:100;
    position: fixed;
    display: none;
    overflow-y: auto;
}

.menuList button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border: none;
  font-size: 24px;
}

.menuList button:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.menuList button.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}